[build-system]
requires = ["flit_core >=3.7.1,<4"]
build-backend = "flit_core.buildapi"


[project]
name = "biglist"
authors = [
    {name = "Zepu Zhang", email = "zepu.zhang@gmail.com"},
]
dependencies = [
    "upathlib >= 0.6.9b4",
    "deprecation",
]
requires-python = ">=3.8"
readme = "README.rst"
license = {file = "LICENSE"}
classifiers = [
    "Intended Audience :: Developers",
    "Programming Language :: Python :: 3",
    "Topic :: Software Development :: Libraries :: Python Modules",
]
dynamic = ['version', 'description']


[project.urls]
Source = "https://github.com/zpz/biglist"


[project.optional-dependencies]
doc = [
    "sphinx < 6.0.0",
    "numpydoc",
    "pydata-sphinx-theme",
]
gcs = [
    "upathlib[gcs] >= 0.6.9b5",
    "google-auth",
]
parquet = [
    "pyarrow >= 10.0.0",
]
test = [
    "boltons",
]


[tool.pytest.ini_options]
minversion = "6.0"
addopts = "-sv --log-cli-level info -p no:cacheprovider"
asyncio_mode = "auto"


[tool.coverage.report]
fail_under = 85
show_missing = true
skip_empty = true

[tool.coverage.run]
data_file = "/tmp/.coverage"


[tool.flake8]
ignore = ["E203", "E231", "E501", "W503"]


[tool.pylint.messages_control]
max-line-length = 88
disable = [
    "consider-using-f-string",
    "missing-docstring",
    "invalid-name",
    "line-too-long",
    "fixme",
    "too-few-public-methods",
    "too-many-branches",
    "too-many-return-statements",
]
